 #content{
    padding: 15px;
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 5px 10px 10px grey;
    width: 40%;
    margin-left: 30%;
} 
body{
    
    background-image: url(images/Background-opera-speeddials-community-web-simple-backgrounds.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    font-family: sans-serif;
}
#header{
    width: 100%;
    font-weight: bold;
    /* padding: 40px; */
}   
html{
    
}
#name{
    float:left;
    margin:20px;

}
.links{
    float: right;
    /* margin:10px; */
    padding:10px;
    font: 20px;
    /* border: solid 2px black; */
    /* border-radius: 7px; */
}
hr{
    width:100%;
}
