
#header{
    width: 100%;
    font-weight: bold;
    /* padding: 40px; */
}   
#name{
    float:left;
    margin:20px;

}
.links{
    float: right;
    /* margin:10px; */
    padding:10px;
    font: 20px;
    /* border: solid 2px black; */
    /* border-radius: 7px; */
}
body{
    background-image: url(images/Background-opera-speeddials-community-web-simple-backgrounds.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    font-family: sans-serif;
}
hr{
    width:100%;
}
#profile{
    text-align: center;
    width: 55%;
    margin-left: 20%;
}
.intro{
    content: "";
    clear: both;
    display: table;
    display: inline-block;
}
img{
    float: left;
}
#summary{
    border: solid 2px black;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20%;
    width: 50%;
    font-size: 20px;

    display: inline-block;
    /* float: right; */
}
.aboutme{
    text-align: left;
}
